.emptyError {
  text-align: center;
  width: 100%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionWrapper {
  width: 100%;
}

.cart {
  width: 100%;
  max-width: 1280px;
  padding: 1rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}

.cartItem {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.itemImgContainer {
  width: 100%;
  max-width: 120px;
  aspect-ratio: 1 / 0.8;
  overflow: hidden;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(225deg, hsl(40, 9%, 96%) 50%, hsl(40, 9%, 84%)); */
  background-color: hsl(40, 9%, 96%);
  border-radius: 0.5rem;
}

.itemImg {
  max-width: 100%;
  max-height: 100%;
}

.itemDetails {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.itemTitle {
  width: calc(100% - 80px - 1rem);
  margin: 0 1rem 0 0;
  font-size: 1rem;
  font-weight: 500;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.itemPrice {
  width: 80px;
  text-align: right;
  font-weight: 700;
}

.itemQty {
  width: 100%;
}

.charges {
  background-color: #f4f4f4;
  border-radius: 1rem;
}
