.emptyError {
  text-align: center;
  width: 100%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionWrapper {
  width: 100%;
}

.cart {
  width: 100%;
  max-width: 1280px;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.products {
  width: calc(100% - 2rem - 280px);
}

.cartItem {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid #ddd;

  &:last-of-type {
    border-bottom: 3px solid #ddd;
  }
}

.itemImgContainer {
  width: 100%;
  max-width: 120px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(225deg, hsl(40, 9%, 96%) 50%, hsl(40, 9%, 84%)); */
  background-color: hsl(40, 9%, 96%);
  border-radius: 0.5rem;
}

.itemImg {
  max-width: 100%;
  max-height: 100%;
}

.itemDetails {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.itemTitle {
  width: calc(100% - 80px - 1rem);
  margin: 0 1rem 0 0;
  font-size: 1rem;
  font-weight: 500;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.itemPrice {
  width: 80px;
  text-align: right;
  font-weight: 700;
}

.quantitySection {
  margin: 0.5rem 0 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.quantityTool {
  height: calc(2rem + 6px);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  border: 3px solid rgb(255, 193, 7);
  border-radius: calc(1rem + 3px);
}

.minusButton,
.plusButton {
  width: 2rem;
  height: 2rem;
  padding: 0;
  margin: 0;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.minusButton {
  border-radius: 1rem 0 0 1rem;
}

.plusButton {
  border-radius: 0 1rem 1rem 0;
}

.quantityInput {
  appearance: none;
  width: 2.5rem;
  height: 2rem;
  background: #fff;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.833rem;
  font-weight: 600;
}

.removeBtn {
  font-size: 0.833rem;
  padding: 0.5rem;
  margin: 0 0.5rem;
  background: #fff;
  border: none;
  cursor: pointer;

  &:hover {
    color: darkred;
    text-decoration: underline;
  }
}

.products {
  .subtotal {
    font-size: 1rem;
    width: 100%;
    margin: 1rem 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;

    & > strong {
      font-size: 1.25rem;
    }
  }
}

.checkout {
  position: sticky;
  top: 2rem;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .charges {
    width: 100%;
    padding: 1.5rem;
    background-color: #f4f4f4;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

    & > * {
      width: 100%;
      padding: 0;
      margin: 0.5rem 0;
      display: grid;
      grid-template-columns: 2fr 1fr;
    }

    .subtotal,
    .taxes,
    .shipping {
      font-size: 0.833rem;

      .valueWrapper {
        text-align: right;
        font-weight: 600;
      }
    }

    .total {
      font-size: 1rem;
      font-weight: 600;

      .valueWrapper {
        text-align: right;
        font-size: 1rem;
        font-weight: 700;
      }
    }
  }

  .checkoutBtn {
    width: 100%;
    padding: 0.5rem;
    margin: 1rem 0 0 0;
    background-color: rgb(255, 193, 7);
    border: none;
    border-radius: 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 0.833rem;
    font-weight: 600;

    & > * {
      margin: 0 0 0 0.25rem;
      transition: all 120ms ease-in-out;
    }

    &:hover {
      & > * {
        margin: 0 0 0 0.5rem;
        transition: all 120ms ease-in-out;
      }
    }
  }
}
