.sectionWrapper {
  width: 100%;
}

.categorySection {
  width: 100%;
  max-width: 1280px;
  padding: 1rem;
  margin: 0 auto 2rem auto;
}

.categoryGrid {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
}
