.sectionWrapper {
  width: 100%;
}

.productsGrid {
  width: 100%;
  max-width: 1280px;
  padding: 1rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.productCard {
  width: 100%;
  padding: 0.75rem 0.75rem 1rem 0.75rem;
  background-color: #fff;
  /* box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; */
  border-radius: 0.5rem;
  text-decoration: none;
}

.imgContainer {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(225deg, hsl(40, 9%, 96%) 50%, hsl(40, 9%, 84%)); */
  background-color: hsl(40, 9%, 96%);
  border-radius: 1rem;
}

.img {
  max-width: 100%;
  max-height: 100%;
}

.title {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  margin: 1rem 0 0 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.reviews {
  display: block;
  font-size: 0.694rem;
  margin: 0.25rem 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.price {
  display: block;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0.5rem 0 0 0;
}

.cta {
  color: inherit;
  font-size: 0.833rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0 0 0;
  background-color: rgb(255, 193, 7);
  border: none;
  border-radius: 1.5rem;
}
