.errorContainer {
  width: 100%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errorHeading {
  font-size: 1.728rem;
  margin-bottom: 0.5rem;
}

.errorMessage {
  font-size: 1rem;
}
