.categoryCard {
  padding: 1rem;
  background-color: #fff;
  /* box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; */
  border-radius: 0.5rem;
}

.categoryTitle {
  text-transform: capitalize;
}

.categoryItemGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.itemImgContainer {
  width: 100%;
  aspect-ratio: 1 / 0.8;
  overflow: hidden;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(225deg, hsl(40, 9%, 96%) 50%, hsl(40, 9%, 84%)); */
  background-color: hsl(40, 9%, 96%);
  border-radius: 0.5rem;
}

.itemImg {
  max-width: 100%;
  max-height: 100%;
}

.itemTitle {
  font-size: 0.833rem;
  font-weight: 600;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.categoryCTA {
  text-transform: capitalize;
}
