.categoryCard {
  padding: 1rem;
  background-color: #fff;
  /* box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; */
  border-radius: 0.5rem;
}

.categoryTitle {
  text-transform: capitalize;
  margin: 0 0 1rem 0;
}

.categoryItemGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.itemImgContainer {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(225deg, hsl(40, 9%, 96%) 50%, hsl(40, 9%, 84%)); */
  background-color: hsl(40, 9%, 96%);
  border-radius: 0.5rem;
}

.itemImg {
  max-width: 100%;
  max-height: 100%;
}

.itemTitle {
  font-size: 0.833rem;
  font-weight: 600;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.categoryCTA {
  text-transform: capitalize;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  padding: 0.5rem 1rem;
  margin: 1rem 0 0 0;
  background-color: hsl(40, 9%, 96%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: inherit;
  border-radius: 0.5rem;
  font-size: 0.833rem;
  font-weight: 600;

  & > * {
    margin: 0 0 0 0.25rem;
    transition: all 120ms ease-in-out;
  }

  &:hover {
    background-color: hsl(40, 9%, 94%);

    & > * {
      margin: 0 0 0 0.5rem;
      transition: all 120ms ease-in-out;
    }
  }
}
