.sectionWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 2.39 / 1;
  min-height: 320px;
  max-height: 560px;
  background: url(../../assets/fashion.jpg);
  background-size: cover;
  background-position: center center;
}

.sectionWrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: hsla(0, 0%, 0%, 0.4); */
  background: linear-gradient(
    35deg,
    hsla(0, 0%, 0%, 0.4) 20%,
    hsla(0, 0%, 0%, 0) 80%
  );
  /* background: radial-gradient(2000px at top right, transparent 10%, black); */
}

.heroSection {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.heroText {
  color: #fff;
  width: 100%;
  max-width: 320px;
  z-index: 100;
  /* margin: 2.986rem 0 0 0; */
}

.eyebrow {
  font-size: 0.833rem;
  text-transform: uppercase;
  letter-spacing: 0.064rem;
}

.headline {
  font-size: 2.074rem;
  line-height: 1.2;
  letter-spacing: -0.032rem;
}

.bodyCopy {
  font-size: 1rem;
}

.cta {
  color: #000;
  font-size: 1rem;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  background-color: #fff;
}
