.addToCart {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.quantityTool {
  height: calc(2rem + 6px);
  margin: 0 1rem 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  border: 3px solid rgb(255, 193, 7);
  border-radius: calc(1rem + 3px);
}

.minusButton,
.plusButton {
  width: 2rem;
  height: 2rem;
  padding: 0;
  margin: 0;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.minusButton {
  border-radius: 1rem 0 0 1rem;
}

.plusButton {
  border-radius: 0 1rem 1rem 0;
}

.quantityInput {
  appearance: none;
  width: 2.5rem;
  height: 2rem;
  background: #fff;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.833rem;
  font-weight: 600;
}

.cta {
  color: inherit;
  font-size: 0.833rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  margin: 0 0 0 0;
  background-color: rgb(255, 193, 7);
  border: none;
  border-radius: 1.875rem;
  cursor: pointer;
}
