.sectionWrapper {
  width: 100%;
}

.navbar {
  width: 100%;
  max-width: 1280px;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid pink; */
}

.logo {
  font-size: 1.44rem;
}

.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.navLink {
  position: relative;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  margin: 0 0.5rem;
}

.cartIconWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 32px;
}

/* .cartIconWrapper::before {
  content: attr(data-count);
  position: absolute;
  display: block;
  top: -2px;
  left: 9.5px;
  width: 19.5px;
  height: 19.5px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
} */

.cartIcon {
  position: relative;
  width: 32px;
  height: auto;
}

.badge {
  position: absolute;
  display: block;
  top: -2px;
  left: 9.5px;
  width: 19.5px;
  height: 19.5px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  font-size: 0.833rem;
}

.badgeSmall {
  font-size: 0.694rem;
}
