.sectionWrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.navbar {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid pink;
}

.logo {
  font-size: 1.44rem;
}

.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.navLink {
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  margin: 0 0.5rem;
}
